<hr class="my-auto" style="width: 100%;" />
<footer id="footer" class="container-fluid text-center ps-4 pt-4 text-dark">
   <div class="row">
      <section class="col-9">
         <p>Endereço: R. Guaipá, 678 - Vila Leopoldina, São Paulo - SP, 05089-000.</p>
         <p>Telefone: (11) 3834-4111.</p>
         <p>E-mail: square22two@gmail.com</p>
      </section>
      <section class="col-2">
         <a href="https://www.youtube.com/" target="_blank" class="start-100 bi bi-youtube display-6"></a>
         <a href="https://www.twitter.com/" target="_blank" class="start-100 bi bi-twitter display-6"></a>
         <a href="https://www.instagram.com/" target="_blank" class="start-100 bi bi-instagram display-6"></a>
      </section>
      <section class="col-9">
         <p>CNPJ: 87.217.441/0001-28.</p>
         <p>Copyright &copy; 2021, Square-two Venda de brinquedos. Todos os direitos reservados.</p>
      </section>
      <section class="col-2">
         <span class="start-100 bi bi-credit-card display-6"></span>
         <span class="start-100 bi bi-cash-coin display-6"></span>
      </section>
   </div>
</footer>
