* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fbfbfb;
}

.navbar li {
    margin-bottom: 0;
    border-radius: 0;
}

.prod > img {
    width: 300px;
    height: 300px;
    margin:auto;
    display: block;
    margin-bottom: 1em; 
    object-fit: cover;
}

.prod {
    border: #e5e5e5 solid 0.1em;
    padding-top: 2em;
    background-color: white;
    padding: 1em;
    float: left;
    width: 20%;
}

.prod:hover {
    box-shadow: inset 0 0 1em rgba(100, 100, 100, 0.1);
}

footer {
    background-color: #eee;
}

.line {
    content: "";
    display: table;
    clear: both;
}

footer p {
    margin-bottom: 0;
    margin-top: 0;
}

footer section {
    padding-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .prod {
        width: 100%;
    }

    div[id="hamburguer"] > form {
        margin-right: 0em !important;
    }

    #header > .display-1 {
        font-size: 4em;
    }
}
